

.container {
    width: 800px;
    margin: 20px auto;
    color: black;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    color: black;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 900px;
    height: 800px;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 65px auto;
    padding: 20px;
    border: 7px solid #888;
    width: 800px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.cocktail-thumbnail {
    width: 270px;
    height: 270px;
    margin: 10px;
    justify-content: space-between;
}

